<div class="block-header">
  <div class="header__wrapper">
    <nav class="header__wrapper-nav">
      <ul class="header__wrapper-nav-ul">
        <li class="t-menu">
          <a href="/home">Home</a>
        </li>
        <li class="t-menu">
          <a href="/menu">Menu</a>
        </li>
        <li class="t-menu">
          <a href="/franchise">Franchise</a>
        </li>
        <li class="t-menu">
          <a href="/contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
