@import 'abstracts/variables';
@import 'vendors/bootstrap-variables-override';
@import 'abstracts/mixins';

.block-header {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  overflow: hidden;
  //DESKTOP
  .header__desktop-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    .header__desktop-wrapper-nav {
      .header__desktop-wrapper-nav-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          span {
            transition: all $default_transition_time * 3 ease;
            opacity: 0;
          }
        }
        @for $i from 1 through 4 {
          li:nth-child(#{$i}) {
            span {
              transition-delay: 0s + $i * .1s;
            }
          }
        }
        &.header__desktop-wrapper-nav-ul-animate {
          li {
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  //MOBILE
  .header__mobile-wrapper {
    width: 100%;
    display: none;
    //ON MENU BUTTON CLICK
    &.animate-menu-links {
      .header__mobile-links {
        height: 26rem;
        .header__wrapper-nav {
          .header__wrapper-nav-ul {
            @for $i from 1 through 4 {
              li:nth-child(#{$i}) {
                transition-delay: 0 + $i * 0.15s;
                transform: translateX(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .header__mobile-button {
      display: flex;
      justify-content: end;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .header__mobile-links {
      display: flex;
      width: 100%;
      height: 0;
      transition: all $default_transition_time * 3 ease;
      .header__wrapper-nav {
        width: 100%;
        .header__wrapper-nav-ul {
          li {
            transition: ease $default_transition_time all;
            transform: translateX(-100%);
            opacity: 0;
          }
        }
      }
    }
  }
}

@include res('md') {
  .block-header {
    position: relative;
    top: unset;
    left: unset;
    background: $secondary;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-flow: column;
    padding-left: 2rem;
    padding-right: 2rem;
    .header__desktop-wrapper {
      display: none;
    }
    .header__mobile-wrapper {
      display: block;
    }
  }
}
