/* Colors -----------------------------------------------------------------*/
$color_white:                 #FFFFFF;
$color_black:                 #000000;
$color_darker:                #212529;
$primary:                     #DA9F5B;
$primary_light:               #F4D5AA;
$primary_darker:              #D38932;
$secondary:                   #33211D;
$transparent_dark:            rgba(51, 33, 29, 0.7);
/* Fonts ------------------------------------------------------------------*/
$default_font_family: "Montserrat", sans-serif;
$font_family_roboto: "Roboto", sans-serif;
$font_family_houstander: "Houstander", sans-serif;
$default_font_size: 1.6rem;
$default_font_weight: 400;
$default_line_height: 1.7;
$default_font_color: $color_black;
/* Other ------------------------------------------------------------------*/
$regular_content_width: 114rem + 6rem; // content + outside gutter (left and right together)
$default_transition_time: .15s;
