<section class="section-header-banner">
  <zpg-blog-image
    [imgUrl]="'zg-9.jpg'"
    [backgroundPosition]="'center'"
    [isThereABottomImageBorder]="true">
    <div class="wrapper-text text-animation-initial-value mt-50">
      <span class="t-slogan t-color white t-transform uppercase"
            appPopup
            [customClass]="'components-animate-on-scroll'">
        Franchise
      </span>
    </div>
  </zpg-blog-image>
</section>

<div class="custom-container mt-70">
  <div class="line"
       appPopup
       [customClass]="'show-line'"></div>
</div>


<section class="section-concept">
  <div class="block-concept">
    <div class="concept__wrapper">
      <div class="concept__header wrapper-text text-animation-initial-value">
        <span class="t-slogan"
              appPopup
              [customClass]="'components-animate-on-scroll'">
          Concept
        </span>
      </div>

      <div class="concept__main-text">
        <div class="wrapper-text text-animation-initial-value">
          <span class="t-franchise--content"
                appPopup
                [customClass]="'components-animate-on-scroll'">
                  At Zuppa Good, we've transformed
                  fast food by offering a unique
                  blend of exceptional taste and
                  environmental responsibility.
          </span>
        </div>
        <div class="wrapper-text mt-5 text-animation-initial-value">
          <span class="t-franchise--content"
                appPopup
                [customClass]="'components-animate-on-scroll'">
                  Our dining experience delivers
                  <span class="t-color primary t-weight tw-700"
                        appPopup
                        [customClass]="'components-animate-on-scroll'">
                    restaurant-quality soups
                  </span> in
            edible cups:
          </span>
        </div>
      </div>

      <div class="concept__checkmarks">
        <div class="wrapper-ic_text component-animation-initial-value-left transition-1s transition-delay td-0-15"
             appPopup
             [customClass]="'components-animate-on-scroll'">
          <img src="assets/images/icons/ic_checkmark.svg" alt="ic_checkmark.svg">
          <span class="t-franchise--content">Quick</span>
        </div>
        <div class="wrapper-ic_text component-animation-initial-value-left transition-1s transition-delay td-0-30"
             appPopup
             [customClass]="'components-animate-on-scroll'">
          <img src="assets/images/icons/ic_checkmark.svg" alt="ic_checkmark.svg">
          <span class="t-franchise--content">Convenient</span>
        </div>
        <div class="wrapper-ic_text component-animation-initial-value-left transition-1s transition-delay td-0-45"
             appPopup
             [customClass]="'components-animate-on-scroll'">
          <img src="assets/images/icons/ic_checkmark.svg" alt="ic_checkmark.svg">
          <span class="t-franchise--content">Eco-friendly</span>
        </div>
      </div>
    </div>
    <div class="wrapper-concept-img">
      <zpg-image-torn
        class="d-flex justify-content-end"
        [imgUrl]="'img-torn-0.jpg'">
      </zpg-image-torn>
    </div>
  </div>
</section>

<section class="section-financial-terms">
  <div class="custom-container">
    <div class="financial-terms__wrapper">
      <div class="wrapper-text text-center text-animation-initial-value">
        <span class="t-slogan"
              appPopup
              [customClass]="'components-animate-on-scroll'">
          General Financial Terms
        </span>
      </div>
      <div class="row mt-50 justify-content-center">
        <div class="col-12 col-sm-5 col-md-4 mb-5 mb-sm-0">
          <div class="wrapper-text changeable text-center mb-0 mb-sm-3">
            <span class="t-slogan opacity-off transition-1s"
                  appPopup
                  [customClass]="'opacity-on'">
              Initial fee
            </span>
          </div>
          <div class="wrapper-text changeable text-center">
            <span class="t-franchise--header t-color secondary animation-numbers-init"
                  appPopup
                  [customClass]="'animated-3000'">EUR</span>
          </div>
          <div class="wrapper-text changeable text-center">
            <span class="t-color secondary t-box-shadow bs-1 opacity-off transition-1s"
                  appPopup
                  [customClass]="'opacity-on'">
              Onboarding, training, and setup support
            </span>
          </div>
        </div>
        <div class="col-12 col-sm-2 col-md-4 mb-5 mb-sm-0">
          <div class="wrapper-text changeable text-center mb-0 mb-sm-3">
            <span class="t-slogan opacity-off transition-1s"
                  appPopup
                  [customClass]="'opacity-on'">
              Royalty
            </span>
          </div>
          <div class="wrapper-text changeable text-center">
            <span class="t-franchise--header t-color secondary animation-numbers-init"
                  appPopup
                  [customClass]="'animated-4'">%</span>
          </div>
          <div class="wrapper-text changeable text-center">
            <span class="t-color secondary t-box-shadow bs-1 opacity-off transition-1s"
                  appPopup
                  [customClass]="'opacity-on'">
              Revenue
            </span>
          </div>
        </div>
        <div class="col-12 col-sm-5 col-md-4 mb-5 mb-sm-0">
          <div class="wrapper-text changeable text-center mb-0 mb-sm-3">
            <span class="t-slogan opacity-off transition-1s"
                  appPopup
                  [customClass]="'opacity-on'">
              Cup baking machine
            </span>
          </div>
          <div class="wrapper-text changeable text-center">
            <span class="t-franchise--header t-color secondary animation-numbers-init"
                  appPopup
                  [customClass]="'animated-5000'">EUR</span>
          </div>
          <div class="wrapper-text changeable text-center">
            <span class="t-color secondary t-box-shadow bs-1 opacity-off transition-1s"
                  appPopup
                  [customClass]="'opacity-on'">
              One-time cost for unique cup baking equipment
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-about-franchise">
  <zpg-blog-image
    [imgUrl]="'zg-5.jpg'"
    [backgroundPosition]="'center'"
    [isThereATopImageBorder]="true"
    [isThereABottomImageBorder]="true">
    <div class="custom-container">
      <div class="about-franchise__wrapper">
        <div class="wrapper-text text-center text-animation-initial-value mb-4">
          <span class="t-franchise--header"
                appPopup
                [customClass]="'components-animate-on-scroll'">
            Become part of a big journey
          </span>
        </div>
        <div class="wrapper-text text-center text-animation-initial-value">
          <span class="t-franchise--content"
                appPopup
                [customClass]="'components-animate-on-scroll'">
            Join us in creating a sustainable and memorable
            dining experience. Together, we can make a positive
            impact on the environment and delight customers
            with
            <span class="t-color primary t-weight tw-600 t-transform uppercase">top quality soup </span>
            in
            <span class="t-color primary t-weight tw-600 t-transform uppercase">edible cup</span>
          </span>
        </div>
      </div>
    </div>
  </zpg-blog-image>
</section>

<section class="section-franchise-package">
  <div class="custom-container">
    <div class="wrapper-text text-center mb-0 mb-lg-5">
      <span class="t-slogan">Franchise package</span>
    </div>
    <div class="franchise-package__wrapper">
      <zpg-package-franchise
        [packageName]="'Support Materials'"
        [isThereALine]="true">
        Equipment list and purchasing advice,
        trademark, exclusive recipes, and preparation techniques, brand
        guidelines, and interior design standards
      </zpg-package-franchise>
    </div>
    <div class="franchise-package__wrapper">
      <zpg-package-franchise
        [packageName]="'Operational Support'"
        [imgReverse]="true"
        [isThereALine]="true"
        [reverseInitBorder]="true">
        Standards for restaurant management and
        operations, ongoing consultancy and expertise sharing, help with
        kitchen setup, equipment selection, and employee training,
        financial models, and metric tracking tools
      </zpg-package-franchise>
    </div>
    <div class="franchise-package__wrapper">
      <zpg-package-franchise
        [packageName]="'Marketing and Technical Support'">
        Menu updates, seasonal
        products, and loyalty programs, marketing materials, website
        development, and SEO strategies
      </zpg-package-franchise>
    </div>
  </div>
</section>

<div class="custom-container">
  <div class="line"
       appPopup
       [customClass]="'show-line'"></div>
</div>

<section class="section-franchise-join">
  <div class="custom-container">
    <div class="about-franchise__wrapper">
      <div class="wrapper-text text-center text-animation-initial-value">
          <span class="t-slogan"
                appPopup
                [customClass]="'components-animate-on-scroll'">
            Contact and follow us on social media!
          </span>
      </div>
      <div class="wrapper-text text-center text-animation-initial-value">
          <span class="t-franchise--content t-color secondary"
                appPopup
                [customClass]="'components-animate-on-scroll'">
            Don’t miss the opportunity to be part of this exciting journey. Let’s make a difference together!
          </span>
      </div>
      <div class="wrapper-button text-center mt-5">
        <zpg-button-link
          [url]="'/contacts'"
          [customClass]="'alt-color'"
        >Contact Us
        </zpg-button-link>
      </div>
    </div>
  </div>
</section>
