@import 'abstracts/variables';
@import 'vendors/bootstrap-variables-override';
@import 'abstracts/mixins';

.section-financial-terms {
  margin-top: 7rem;
  margin-bottom: 7rem;
  .wrapper-text {
    &.changeable {
      display: flex;
      justify-content: center;
      align-items: center;
      .t-slogan {
        font-size: 3.2rem;
      }
      .t-franchise--header {
        font-size: 5rem;
      }
    }
  }
}

.section-concept {
  margin-top: 7rem;
  .block-concept {
    position: relative;
    .concept__wrapper {
      width: 60%;
      padding: 4rem;
      position: absolute;
      bottom: 1.5rem;
      right: 20%;
      background: linear-gradient(to left, rgba($secondary, .6), rgba($secondary, 1));
      z-index: 1;
      .concept__header {
        position: absolute;
        top: -15rem;
        left: 50%;
        transform: translateX(-50%);
      }
      .concept__checkmarks {
        display: flex;
        flex-flow: column;
        overflow: hidden;
        .wrapper-ic_text {
          margin-top: 4rem;
          display: inline-flex;
          align-items: center;
          img {
            width: 5rem;
          }
          span {
            margin-left: 1rem;
            font-size: 3rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.section-franchise-package {
  margin-bottom: 7rem;
}

.section-about-franchise {
  margin-bottom: 7rem;
  .about-franchise__wrapper {
    .about_franchise__wrapper-content {

    }
  }
}

.section-edible-cups {
  margin-top: 10rem;
  margin-bottom: 10rem;
  .edible-cups__wrapper {
    min-height: 80vh;
    display: flex;
    .edible-cups__left-side {
      flex-basis: 60%;
      width: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      .edible-cups__all-texts {
        .wrapper-text {
          margin-bottom: 2rem;
        }
        .wrapper-text-content {
          padding-right: 2rem;
          margin-bottom: 1rem;
          span {
            font-size: 2.1rem;
          }
        }
      }
      .edible-cups__vertical-line {
        background: $secondary;
        min-width: .5rem;
        max-width: .5rem;
        height: 100%;
        transform-origin: top;
        transform: scaleY(0);
        transition: all $default_transition_time * 12;
      }
    }
    .edible-cups__right-side {
      position: relative;
      flex-basis: 40%;
      width: 100%;
      .edible-cups__each-element-holder {
        position: absolute;
        &.element-1 {
          left: 40%;
          top: 0;
        }
        &.element-2 {
          left: 2%;
          top: 20%;
        }
        &.element-3 {
          left: 40%;
          top: 40%;
        }
        &.element-4 {
          left: 2%;
          top: 60%;
        }
        &.element-5 {
          left: 40%;
          top: 75%;
        }
      }
      .edible-cups__all-texts{
        display: none;
      }
    }
  }
}


.section-franchise-join {
  margin-top: 7rem;
  margin-bottom: 7rem;
}


@include res('xl') {
  .section-concept {
    .block-concept {
      .concept__wrapper {
        width: 80%;
        .concept__header {
          top: -10rem;
          left: 33%;
          span {
            font-size: 4rem;
          }
        }
        .concept__checkmarks {
          .wrapper-ic_text {
            margin-top: 2rem;
            img {

            }
            span {

            }
          }
        }
      }
    }
  }
}

@include res('lg') {
  .section-financial-terms {
    .wrapper-text {
      &.changeable {
        .t-slogan {
          font-size: 2.4rem;
        }
      }
    }
  }

  .section-concept {
    .block-concept {
      .concept__wrapper {

        .concept__header {
          span {

          }
        }
        .concept__main-text {
          .wrapper-text {
            span {
              font-size: 2rem;
            }
          }
        }
        .concept__checkmarks {

          .wrapper-ic_text {

            img {
              width: 3rem;
            }
            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }

  .section-edible-cups {

    .edible-cups__wrapper {

      .edible-cups__left-side {
        flex-basis: 40%;
        max-width: 40%;
        align-items: start;
        .edible-cups__all-texts {
          .wrapper-text {
            padding-right: 0;
            width: 100%;
            span {
              font-size: 6rem;
            }
          }
          .wrapper-text-content {
            span {

            }
          }
        }
        .edible-cups__vertical-line {
        }
      }

      .edible-cups__right-side {
        flex-basis: 60%;
        max-width: 60%;
        .edible-cups__each-element-holder {
        }
      }
    }
  }
}

@include res('md') {
  .section-financial-terms {
    .wrapper-text {
      &.changeable {
        .t-slogan {
          font-size: 2.2rem;
        }
        .t-franchise--header {
          font-size: 3.2rem;
        }
      }
    }
  }

  .section-concept {
    .block-concept {
      .concept__wrapper {
        width: 100%;
        left: 50%;
        top: 0;
        bottom: unset;
        height: 100%;
        transform: translateX(-50%);
        background: linear-gradient(to bottom, rgba($secondary, .6), rgba($secondary, .9));
        .concept__header {
          position: unset;
          left: unset;
          top: unset;
          transform: unset;
          text-align: center;
          margin-bottom: 2rem;
          span {
            color: $color_white;
          }
        }
        .concept__main-text {
          .wrapper-text {
            span {

            }
          }
        }
        .concept__checkmarks {
          .wrapper-ic_text {
            img {

            }
            span {

            }
          }
        }
      }
    }
  }

  .section-franchise-package {
    margin-bottom: 2rem;
  }
  .section-franchise-join {
    margin-top: 4rem;
  }

  .section-edible-cups {
    .edible-cups__wrapper {
      min-height: auto;
      .edible-cups__left-side {
        align-items: center;
        width: 100%;
        .edible-cups__all-texts {
          width: 100%;
          .wrapper-text {
            padding-right: 0;
            width: 100%;
            span {
              font-size: 3rem;
            }
          }
          .wrapper-text-content {
            display: none;
          }
        }
        .edible-cups__vertical-line {
        }
      }
      .edible-cups__right-side {
        .edible-cups__each-element-holder {
          display: none;
        }
        .edible-cups__all-texts {
          display: block;
          .wrapper-text-content {
            padding-left: 2rem;
            margin-bottom: 1rem;
            span{
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
