<div class="block-footer">
  <div class="custom-container">
    <div class="row component-animation-initial-value"
         appPopup
         [customClass]="'components-animate-on-scroll'">
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="wrapper-text mb-2 mb-md-4 mb-lg-5">
          <span class="t-footer--head">get in touch</span>
        </div>
        <div class="wrapper-text mb-1 mb-md-2 mb-lg-4">
          <a class="t-color white t-decoration underline" target="_blank"
             href="https://maps.app.goo.gl/5HThFNHTgVsuWRpo7">Centraltirgus iela 3
            k.2, Riga, Latvia</a>
        </div>
        <div class="wrapper-text mb-1 mb-md-2 mb-lg-4">
          <span class="t-color white">+371 26089066</span>
        </div>
        <div class="wrapper-text">
          <span class="t-color white">hello&#64;zuppagood.com</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="wrapper-text mb-2 mb-md-4 mb-lg-5">
          <span class="t-footer--head">follow us</span>
        </div>
        <div class="wrapper-text mb-1 mb-md-2 mb-lg-4">
          <span class="t-color white">Follow us on social media</span>
        </div>
        <div class="wrapper-icons d-flex">
          <zpg-square-icon
            class="me-3"
            [icon]="faInstagram"
            [linkUrl]="'https://www.instagram.com/zuppa_good'"/>
          <zpg-square-icon
            class="me-3"
            [icon]="faFacebook"
            [linkUrl]="'https://www.facebook.com/zuppagood'"/>
          <zpg-square-icon
            class="me-3"
            [icon]="faGoogle"
            [linkUrl]="'https://maps.app.goo.gl/5HThFNHTgVsuWRpo7'"/>
          <zpg-square-icon
            class="me-3"
            [icon]="faTripadvisor"
            [linkUrl]="'https://www.tripadvisor.com/Restaurant_Review-g274967-d25096017-Reviews-Zuppa_Good-Riga_Riga_Region.html'"/>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
        <div class="wrapper-text mb-2 mb-md-4 mb-lg-5">
          <span class="t-footer--head">opening hours</span>
        </div>
        <div class="wrapper-text">
          <span class="t-color white t-transform uppercase d-block mb-2">Monday - Sunday</span>
          <span class="t-color white t-transform uppercase d-block">10:00 - 17:00</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
        <div class="wrapper-text mb-2 mb-md-4 mb-lg-5">
          <span class="t-footer--head">delivery</span>
        </div>
        <div class="wrapper-text mb-1 mb-md-2 mb-lg-4">
          <span class="t-color white t-transform uppercase d-block mb-2">Monday - Sunday</span>
          <span class="t-color white t-transform uppercase d-block">10:00 - 17:00</span>
        </div>
        <div class="wrapper-text">
          <span class="t-color white t-transform">Available at BOLT and Wolt</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="wrapper-text text-center">
      <div class="custom-container">
        <span class="t-color white">Copyright &#169; </span>
        <a class="t-decoration underline t-color primary t-weight tw-600" href="/public">Zuppa Good.</a>
        <span class="t-color white"> All Rights Reserved.</span>
      </div>
    </div>
  </div>
</div>
