@use 'abstracts/variables' as var;

input {
  &:not([type='checkbox']),
  &:not([type='radio']),
  &:not([type='file']) {
    height: 5rem;
    width: 100%;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border: .1rem solid rgba(var.$secondary, 0.2);
    color: rgba(var.$secondary, 0.9);
    transition: all var.$default_transition_time ease;
    outline: 0;
    outline-offset: 0;
  }
  &:focus{
    box-shadow: 0 0 0 0.3rem rgba(var.$primary, 0.3);
    border-color: rgba(var.$primary, 0.3);
  }
  &::placeholder {
    color: rgba(var.$secondary, 0.9);
    font-weight: 300;
  }
}
