<div class="app-root-header-content">
  <section class="section-header">
    <zpg-header></zpg-header>
  </section>
  <router-outlet/>
</div>
<section class="section-footer mt-md-5">
  <zpg-blog-image
    [imgUrl]="'zg-5.jpg'"
    [position]="'center'"
    [isThereATopImage]="true">
    <zpg-footer class="w-100"></zpg-footer>
  </zpg-blog-image>
</section>
<div class="floating-links-wrapper" appFadeInOut>
  <zpg-floating-link
    class="me-3"
    [url]="'https://www.instagram.com/zuppa_good'"
    [icon]="faInstagram"/>
  <zpg-floating-link
    class="me-3"
    [url]="'https://www.facebook.com/zuppagood'"
    [icon]="faFacebook"/>
  <zpg-floating-link
    class="me-3"
    [url]="'https://maps.app.goo.gl/5HThFNHTgVsuWRpo7'"
    [icon]="faGoogle"/>
  <zpg-floating-link
    [url]="'https://www.tripadvisor.com/Restaurant_Review-g274967-d25096017-Reviews-Zuppa_Good-Riga_Riga_Region.html'"
    [icon]="faTripadvisor"/>
</div>
<zpg-welcome></zpg-welcome>
