<section class="section__carousel-main mb-5">
  <zpg-carousel-main></zpg-carousel-main>
</section>

<section class="section__about-us pt-2 pb-2 pb-md-5 pt-md-5">
  <div class="custom-container">
    <div class="wrapper-text text-center mb-0 mb-md-5 text-animation-initial-value">
      <span class="t-about--h"
            appPopup
            [customClass]="'components-animate-on-scroll'">
        About Us
      </span>
    </div>
    <div class="wrapper-about-us pb-5 pt-5">
      <div class="row component-animation-initial-value"
           appPopup
           [customClass]="'components-animate-on-scroll'">
        <div class="col-12 col-xl-6 mb-5 mb-xl-0">
          <div class="about-us-content d-flex">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-6 p-0 p-xl-3">
                <div class="about-us-content-image">
                  <img src="assets/images/zg-2.jpg" alt="zg-2.jpg">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-9 col-xl-6 text-justify p-0 mt-4 mt-md-0 px-md-4">
                <span class="about-us-content-text">
                  Say goodbye to waste and hello to indulgence! Zuppa Good serves all our delectable soups in edible
                  dough
                  cups, shaped like coffee cups, creating a delightful blend of flavors and sustainability. With every
                  sip,
                  you enjoy the rich taste of our natural broth soups while making a positive impact on the planet –
                  it's
                  "Great Taste, No Waste" in action.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 mb-5 mb-xl-0">
          <div class="about-us-content d-flex">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3 col-xl-6 p-0 p-xl-3">
                <div class="about-us-content-image">
                  <img src="assets/images/zg-3.jpg" alt="zg-3.jpg">
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-9 col-xl-6 text-justify p-0 mt-4 mt-md-0 px-md-4">
                <span>
                  At Zuppa Good, we prioritize your well-being. Our soups are crafted with natural ingredients, free
                  from preservatives, ensuring every cup is a wholesome and nutritious delight. Trust is our currency,
                  and with every serving, we reinforce our commitment to serve soups worthy of your confidence – "In
                  Soup We Trust."
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-text text-center text-animation-initial-value">
      <span class="t-slogan"
            appPopup
            [customClass]="'components-animate-on-scroll'">
        Great Taste, No Waste
      </span>
    </div>
  </div>
</section>

<section class="section__interested-in-franchise">
  <zpg-blog-image
    [imgUrl]="'zg-4.jpg'"
    [backgroundPosition]="'top'"
    [isThereATopImageBorder]="true"
    [isThereABottomImageBorder]="true">
    <div class="custom-container">
      <div class="wrapper-text text-center py-4 px-md-4 text-animation-initial-value">
        <span class="t-franchise--header"
              appPopup
              [customClass]="'components-animate-on-scroll'">
          Interested in franchise?
        </span>
      </div>
      <div class="wrapper-text text-center px-md-4 text-animation-initial-value">
        <span class="t-franchise--content"
              appPopup
              [customClass]="'components-animate-on-scroll'">
          At Zuppa Good, we've reimagined fast food with a revolutionary concept that guarantees both exceptional taste and environmental responsibility.
          We are not your average soup joint as we are a dining experience that serves restaurant-level soups in a quick, convenient, and eco-friendly manner.
        </span>
      </div>
      <div class="wrapper-button d-flex justify-content-center mt-5">
        <zpg-button-link
          class="component-animation-initial-value"
          appPopup
          [customClass]="'components-animate-on-scroll'"
          [url]="'/menu'">
          E-mail Us
        </zpg-button-link>
      </div>
    </div>
  </zpg-blog-image>
</section>

<section class="section__menu-carousel">
  <div class="custom-container">
    <div class="wrapper-text text-center py-md-5 text-animation-initial-value">
      <span class="t-slider--h"
            appPopup
            [customClass]="'components-animate-on-scroll'">
        In Soup We Trust
      </span>
    </div>
    <div class="wrapper-menu-carousel py-5">
      <zpg-carousel-menu class="opacity-off transition-1s"
                         appPopup
                         [customClass]="'opacity-on'">
      </zpg-carousel-menu>
    </div>
  </div>
</section>
