<div class="block-welcome" #targetWelcome>
  <div class="welcome__wrapper">
        <div class="welcome__wrapper-half" #targetWelcomeHalfTop></div>
        <div class="welcome__wrapper-half" #targetWelcomeHalfBottom></div>
    <div class="welcome-wrapper-logo"
         [ngStyle]="{
                     'width': elDimParameters?.width + 'px',
                     'top': elDimParameters?.top + 'px',
                     'left': elDimParameters?.left + 'px',
                     'transform': isItFadingOut ? 'scale(1)' : ''
                    }"
         #targetWelcomeLogo>
      <img src="assets/images/logo.png" alt="logo.png">
    </div>
  </div>
</div>

<!--'position': isItFadingOut ? 'fixed' : 'absolute',-->
<!--'transform': isItFadingOut ? 'translateY(0) translateX(0)' : ''-->
<!--'top': isItFadingOut ? elDimParameters?.top + 'px' : '',-->
<!--'left': isItFadingOut ? elDimParameters?.left + 'px' : '',-->
