/* Media queries:
	all - both screen and print (default)
	screen - desktop and mobile devices with screen
	print - only print devices
*/

/* Resets / Forcing default behaviour */
a{
	text-decoration: none;
}
input, button {
	padding: 0px;
	border: 0px;
	&[type='submit'] {
		cursor: pointer;
	}
}
a, button {
  color: $color_black;
	outline: none !important;
}
@include placeholder {
	color: rgba($color_black, 0.3);
	font-weight: 500;
}
img {
	max-width: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
iframe {
	display: block;
}
p {
	margin-bottom: 0;
}
b, strong {
	font-weight: 700;
}
input, textarea, select, button {
	-webkit-appearance: none !important;
}
select, button {
	cursor: pointer;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: rgba($color_white, 0.3);
}
/* Hides number input arrows: Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type='number'] {
	-moz-appearance:textfield;
}
/* Generic helpers */
.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
.responsive-table-wrapper {
	overflow: auto;
}
.row {
	&.direct-childs-collapsible {
		& > div {
			flex: 0 1 auto;
			width: auto;
		}
	}
}
//For validation errors
.invalid{
	position: relative;	
	.inputblock-message-error{		
		div{
			position: absolute;
			right: 0;
			bottom: 0;			
			color: $color_white;
			transform: translateY(100%);
			font-size: 11px;
		}
	}
}
//Content selection
::selection{
  background-color: $color_primary;
  color: $color_white;
}