.custom-container {
  @include custom-container();
}

.text-justify {
  text-align: justify;
}

.block__button--primary {
  color: $primary;
  position: relative;
  font-weight: 500;
  padding: 1.6rem 4.8rem;
  transition: ease $default_transition_time * 3 all;
  border: .1rem solid $primary;
  background-image: linear-gradient(130deg, transparent 0%, transparent 50%, $primary 50%);
  background-size: 240%;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: rgba($color_white, 1);
    border-style: solid;
    transition: all ($default_transition_time * 3) ease;
    z-index: 1;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: .1rem 0 .1rem 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 .1rem 0 .1rem;
  }
  &:hover,
  &:active {
    color: $color_white;
    background-position: 100%;
    border-color: rgba($color_white, 1);
    &::before {
      width: 100%;
      border-width: .1rem 0 .1rem 0;
    }
    &::after {
      height: 100%;
      border-width: 0 .1rem 0 .1rem;
    }
  }
  &:active {
    transform: scale(0.9);
    transition: ease $default_transition_time all !important;
  }
}

// TEXT
.t-color {
  &.white {
    color: $color_white;
  }
  &.primary {
    color: $primary;
  }
  &.secondary {
    color: $secondary;
  }
}

.t-transform {
  &.uppercase {
    text-transform: uppercase;
  }
}

.t-decoration {
  &.underline {
    &:hover {
      text-decoration: underline;
    }
  }
}

.t-weight {
  &.tw-600 {
    font-weight: 600;
  }
  &.tw-700 {
    font-weight: 600;
  }
}

// Animation on scroll - initial value
.text-animation-initial-value {
  &.wrapper-text {
    overflow: hidden;
    span {
      transition: all calc($default_transition_time * 9) ease;
      transform: translateY(100%);
    }
  }
}
.text-animation-initial-value-opacity {
  &.wrapper-text {
    overflow: hidden;
    span {
      transition: all 1s ease;
      opacity: 0;
    }
  }
}
.component-animation-initial-value {
  transition: all 1s ease;
  transform: translateY(3rem);
  opacity: 0;
}
.component-animation-initial-value-opacity {
  transition: all 1s ease;
  opacity: 0;
}

// Animation on scroll
.components-animate-on-scroll {
  transform: translateY(0rem) !important;
  opacity: 1 !important;
}

// Opacity
.opacity-off {
  opacity: 0 !important;
}
.opacity-on {
  opacity: 1 !important;
}

